html {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-style: normal;
  box-sizing: border-box;
}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(159, 9, 9);
}

/* Наследуем box-sizing для всех элементов, их псевдоэлементов before и after */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Устанавливаем общие стили для изображений */
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  margin: 0;
  min-height: 100vh;
}
.centered-line {
  width: 50%;
  margin: 0 auto;
}
.banner_title {
  height: 90px;
  text-align: center;
  font-size: 26px;
}
.banner_title h1 {
  font-size: 32px;
}
/* Стили для навигации */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100px;
  background-color: #2f3133;
  font-size: 22px;
}
.logo_link {
  height: 100px;
  margin-top: 12px;
  z-index: 3;
}
.navigation img {
  height: 70%;
  width: auto;
}

/* Стили для меню */
.menu_list_480 {
  display: none;
  width: 100%;
  background-color: rgb(48, 48, 49, 0.9);
  position: absolute;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 10px;
  list-style: none;
  top: 100%;
  left: 0;
  right: 0;
}
.menu_list_480.opened {
  display: block;
}

.menu_toggler.opened {
  background-color: #ccc;
}
.menu {
  position: relative;
}
.menu button {
  display: none;
}
.menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.menu_item {
  margin: 0 40px;
  flex: 1 1 auto; /* 
    flex-grow: 1 - элемент может расширяться, занимая доступное пространство;
    flex-shrink: 1 - элемент может сжиматься, если доступное пространство уменьшается;
    flex-basis: auto - элемент использует свою естественную ширину как начальную точку. 
  */
  text-align: center;
  width: 100%;
}
.menu_item a {
  color: white;
  text-decoration: none;
}

.menu_item a:hover {
  cursor: pointer;
  color: red;
}

.menu_item:hover .menu_dropdown {
  display: flex;
  flex: 3;
}

.menu_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -54%;
  right: 0%;
  background-color: rgb(48, 48, 49, 0.8);
  width: 200%;
  z-index: 2;
}
.menu_toggler {
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 15px;
  margin-top: -52px;
  float: right;
  cursor: pointer;
  position: relative;
}
.submenu {
  flex: 1 1 100%;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.submenu-image {
  display: flex;
  justify-content: center; /* Центрирует содержимое по горизонтали внутри flex-контейнера */
  align-items: center; /* Центрирует содержимое по вертикали внутри flex-контейнера */
  flex: 1 1 50%; /* flex-grow: 1 - элемент может расширяться, занимая доступное пространство;
                    flex-shrink: 1 - элемент может сжиматься, если доступное пространство уменьшается;
                    flex-basis: 50% - начальная ширина элемента 50% от родительского контейнера */
}

.submenu_item a {
  display: block; /* Делает ссылку блочным элементом */
  width: 100%; /* Растягивает ссылку на всю ширину родительского элемента */
  height: 100%; /* Растягивает ссылку на всю высоту родительского элемента */
  padding: 14px;
}
.submenu_item {
  text-align: left;
  padding: 5px 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: red;
  }
}

h1 + p,
h2 + p {
  text-indent: 30px; /* Отступ для первой строки абзаца */
}
/* Стили для баннера первой страницы*/
.banner {
  height: 600px;
}
.banner img {
  max-width: 50%;
  max-height: 500px;
  height: auto;
  float: right;
  margin: 40px 10px;
}
.banner_text {
  font-size: 30px;
  padding: 30px;
  width: 50%;
  text-align: center;
  margin-top: 50px;
}
.banner_text h1 {
  font-size: 70px;
  text-transform: uppercase;
}
.centered-title {
  text-align: center;
}
.centered h1 {
  font-size: 26px;
  text-align: center;
}
.centered h2 {
  font-size: 20px;
  text-align: center;
}
/* Для первого слайдера */
.slider-vit {
  width: 90%;
  margin: auto;
}

.slider-vit .slide {
  height: 360px;
  width: auto;
  margin: 15px;
}

/* Для второго слайдера */
.slider-memories {
  width: 90%;
  margin: auto;
}

/* Общие стили для обоих слайдеров */
.slide {
  height: 200px;
  margin: 20px;
  position: relative;
  width: 100%;
}

.slider-vit .slide_text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  padding: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  display: none;
}

.slide:hover .slide_text {
  display: block;
}
.slider-memories .slide_text {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  padding: 60px;
}

.slider .slick-dots li button::before {
  color: #b10707;
  font-size: 20px;
}
.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Размер кнопки */
  height: 40px; /* Размер кнопки */
  background-color: #b10707; /* Цвет фона */
  border-radius: 50%; /* Делаем кнопку круглой */
}

/* Стили для внутреннего элемента стрелки */
.slick-arrow::before {
  font-size: 18px;
  color: white;
  position: relative;
  z-index: 1;
}
.slick-arrow:hover {
  opacity: 1;
  background-color: #8b0606;
}
.slick-arrow {
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.slick-arrow:active {
  opacity: 1;
}

.topic_header {
  margin: 50px 20px;
}
/* Стили для содержимого */
.topic {
  margin: 40px 100px 0;
}

/* Стили для определенных секций содержимого главной страницы*/
.topic h1 {
  text-align: center;
}
.topic-1,
.topic-3,
.topic-5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topic-1_text,
.topic-3_text,
.topic-5_text {
  width: 50%;
  padding: 0 16px;
  text-align: justify;
}
.topic-1 img,
.topic-2 img,
.topic-3 img,
.topic-4 img,
.topic-5 img {
  height: auto;
  width: 50%;
}
.topic-1 a,
.topic-3 a,
.topic-5 a {
  margin-top: 20px;
}
.topic-2,
.topic-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topic-2_text,
.topic-4_text {
  width: 50%;
  padding: 0 16px;
  text-align: justify;
}

.topic-2 a,
.topic-4 a {
  margin-top: 20px;
}

/* Стили для кнопок */
.button {
  width: 200px;
  background: linear-gradient(to bottom right, #ebe5e5, #030303);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0.2, 0.3, 0.4, 0.6);
  transition: transform 0.3s;
  z-index: 1;
}

.navigation_button {
  background: linear-gradient(to bottom right, rgb(93, 14, 14), #da0909);
  font-size: 18px;
  z-index: 3;
}

/* Эффект наведения на кнопки */
.button:hover {
  background: linear-gradient(to bottom right, rgb(93, 14, 14), #da0909);
  color: black;
  transform: scale(1.1);
}

.navigation_button:hover {
  background: white;
  color: #da0909;
}
.about_article-1 {
  text-align: justify;
}
/* Стили для информации */
.info {
  background-position: center; /* Центрирует фоновое изображение внутри элемента */
  background-size: cover; /* Масштабирует фоновое изображение так, чтобы оно полностью покрывало элемент, сохраняя пропорции */
  background-attachment: fixed; /* Фиксирует фоновое изображение относительно окна браузера, а не элемента */
  background-image: url("../images/content/background.jpg"); /* Устанавливает изображение в качестве фона элемента */
  height: 600px;
  width: 100%;
  margin-top: 80px;
}

.info-text {
  width: 70%; /* Ширина блока с текстом */
  margin: 100px auto; /* Автоматические отступы для центрирования */
  text-align: left; /* Текст выравнивается по левому краю */
  color: white;
  font-size: 20px;
  padding-top: 80px;
}
.info-text p {
  margin: 0;
}
/* Стили для информации в подвале */
.footer-info {
  background-color: #2f3133;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info a {
  color: white;
  text-decoration: none;
}
.footer-info a:hover {
  text-decoration: underline;
}
.footer-info_text-1 {
  margin-left: 70px;
  color: white;
}
.footer-info img {
  height: 80px;
  width: auto;
}
.footer-info_text-2 {
  margin-left: 70px;
  color: white;
}

/* Стили для подвала */
.footer {
  background-color: #2f3133;
  color: white;
  height: 60px;
}

.red-line {
  border: none;
  border-top: 2px solid #da0909;
}

.footer_text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer i {
  color: #da0909;
}
.footer_text a {
  margin-left: 10px;
  margin-right: 100px;
}
.copyright {
  margin-right: auto;
  margin-left: 100px;
}

/* Эффект наведения на ссылки в подвале */
.footer_text a:hover {
  transform: scale(1.5);
}

/* Стили для секции страницы chronicle */

.section {
  padding: 10px 100px 130px;
}
.section h2 {
  text-align: center;
}
.section_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section_images img {
  height: 500px;
}
.section_images-1,
.section_images-2,
.section_images-3,
.section_images-4 {
  background-color: rgb(228, 225, 225);
  width: 22%;
}
.section_images_text {
  padding: 6px;
  text-align: center;
}
.section_item img {
  float: right;
  width: 60%;
  height: auto;
}
.section_item h1,
h2,
h3 {
  text-align: center;
}
/* Стили для секции страницы test */
.post_container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}
.post_text {
  padding: 20px 100px 0;
}
/* Стили для секции страницы events */
.container_events {
  display: grid;
  grid-template-rows: 40px repeat(10, 120px);
  grid-template-columns: repeat(10, 1fr);
  margin: 0 100px; /* Добавлены отступы по 100px слева и справа */
}
.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-1 {
  grid-row: 2 / 5;
  grid-column: 6 / 10;
  border: 14px solid rgba(121, 119, 119, 0.5);
}
.event-2 {
  grid-row: 3 / 6;
  grid-column: 2 / 5;
  margin-top: 20px;
  border: 14px solid rgba(218, 9, 9, 0.7);
}
.event-3 {
  grid-row: 4 / 7;
  grid-column: 4 / 8;
  border: 14px solid white;
}
.event-4 {
  grid-row: 6 / 10;
  grid-column: 7 / 10;
  border: 14px solid rgba(121, 119, 119, 0.5);
  border: 14px solid rgba(218, 9, 9, 0.7);
}
.event-5 {
  grid-row: 7 / 9;
  grid-column: 1 / 5;
  margin-top: 20px;
  z-index: 1;
  border: 14px solid rgba(121, 119, 119, 0.5);
}
.event-6 {
  grid-row: 8 / 12;
  grid-column: 3 / 8;
  margin-top: 20px;
  border: 14px solid rgba(121, 119, 119, 0.5);
}

.button_event-1 {
  align-self: flex-end;
  margin: -40px;
  margin-right: 5px;
  font-size: 20px;
  color: #b10707;
  width: 250px;
  background: rgb(210, 207, 207);
}
.button_event-2 {
  align-self: flex-start;
  margin: -50px;
  margin-left: 1px;
  font-size: 20px;
  color: black;
  width: 280px;
  background: rgb(210, 207, 207);
}
.button_event-3 {
  align-self: center;
  margin: -50px;
  width: 280px;
  background: rgb(210, 207, 207);
  color: black;
  font-size: 20px;
}
.button_event-4 {
  margin: -65px;
  margin-left: 130px;
  width: 280px;
  background: rgb(210, 207, 207);
  color: black;
  font-size: 20px;
}
.button_event-5 {
  margin-top: -50px;
  margin-left: -10px;
  width: 280px;
  background: rgb(210, 207, 207);
  color: #b10707;
  font-size: 20px;
}
.button_event-6 {
  align-self: center;
  margin: -50px;
  width: 280px;
  background: rgb(210, 207, 207);
  font-size: 20px;
  color: black;
}
.text_container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #040404;
  color: white;
  border: 1px solid #010101;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  opacity: 0.9;
  z-index: 10;
  max-width: 90%;
  width: auto;
  max-height: 90%;
  height: auto;
  overflow-y: auto;
}

/* Стили для крестика */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.event_text_visible .text_container {
  display: block;
}
/* Стили для секции страницы film */
.films {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.films_text {
  padding: 20px 100px 0;
}
.films_video {
  margin-top: 60px;
}

@media (max-width: 1400px) {
  .menu_dropdown {
    left: -28%;
    width: 150%;
  }
  .banner {
    height: 540px;
    margin-bottom: 0;
  }
  .banner_text {
    font-size: 28px;
  }
  .banner_text h1 {
    font-size: 60px;
    margin-top: 30px;
  }
  .banner_title {
    font-size: 20px;
  }
  .topic {
    margin-top: 0;
  }
  .section_images img {
    height: 700px;
  }
  .section_images-1,
  .section_images-2,
  .section_images-3,
  .section_images-4 {
    width: 45%;
  }
  .container_events {
    grid-template-rows: 30px repeat(10, 100px);
    margin: 0 70px;
  }
  .button_event-1,
  .button_event-2,
  .button_event-3,
  .button_event-4,
  .button_event-5,
  .button_event-6 {
    font-size: 16px;
    width: 200px;
  }
  .post_container iframe {
    width: 60%;
    margin: 50px auto;
  }
}
@media (max-width: 1200px) {
  .navigation {
    font-size: 18px;
    justify-content: space-between;
  }
  .navigation img {
    margin-left: 6px;
  }
  .navigation_button {
    font-size: 16px;
    width: 130px;
    margin-right: 8px;
  }
  .menu_item {
    margin: 0 20px;
    position: relative;
  }
  .submenu-image {
    display: none;
  }
  .menu_dropdown {
    left: 0%;
    width: 300%;
  }
  .banner_text {
    font-size: 24px;
    padding: 15px;
    margin-top: 5px;
  }
  .banner_text h1 {
    font-size: 58px;
  }
  .banner {
    height: 480px;
    margin-bottom: 0;
  }
  .banner_title {
    font-size: 16px;
  }
  .slider .slick-arrow {
    height: 25px;
    width: 25px;
  }
  .slider .slick-next::before {
    font-size: 15px;
    line-height: 0.5;
    margin-left: 3px;
  }
  .slider .slick-prev::before {
    font-size: 15px;
    line-height: 0.5;
    margin-left: 3px;
  }
  .section {
    padding: 10px 50px 0;
  }
  .section_images {
    justify-content: space-around;
  }
  .topic {
    margin: 0 50px;
  }
  .topic h1 {
    font-size: 22px;
  }
  .container_events {
    grid-template-rows: 30px repeat(9, 90px);
    margin: 0 40px;
  }
  .button_event-1,
  .button_event-2,
  .button_event-3,
  .button_event-4,
  .button_event-5,
  .button_event-6 {
    font-size: 14px;
    width: 180px;
    padding: 10px 20px;
  }
}
@media (max-width: 980px) {
  .navigation_button {
    font-size: 14px;
    width: 100px;
  }
  .navigation {
    font-size: 16px;
  }
  .menu_item {
    margin: 0 14px;
  }
  .banner {
    height: 420px;
  }
  .banner_text {
    font-size: 20px;
    padding: 10px;
    margin-top: 2px;
  }
  .logo_link {
    height: 90px;
    margin-top: 18px;
  }
  .banner_text h1 {
    font-size: 46px;
  }
  .banner_title {
    font-size: 14px;
  }
  .slide {
    height: 190px;
    margin: 8px;
  }
  .section_images {
    flex-direction: column;
  }
  .section_images-1,
  .section_images-2,
  .section_images-3,
  .section_images-4 {
    width: 60%;
  }
  .topic {
    margin: 0 20px;
  }
  .topic-1,
  .topic-2,
  .topic-3,
  .topic-4,
  .topic-5 {
    width: 100%;
  }
  .topic-1 img,
  .topic-3 img,
  .topic-5 img {
    height: 350px;
    width: 80%;
  }
  .topic-2 img,
  .topic-4 img {
    display: none;
  }
  .topic-1_text,
  .topic-2_text,
  .topic-3_text,
  .topic-4_text,
  .topic-5_text {
    width: 100%;
    text-align: center;
  }
  .topic-1_text p,
  .topic-2_text p,
  .topic-3_text p,
  .topic-4_text p,
  .topic-5_text p {
    text-align: justify;
  }
  .container_events {
    grid-template-rows: 30px repeat(9, 80px);
    margin: 0 40px;
  }
  .button_event-1,
  .button_event-2,
  .button_event-3,
  .button_event-4,
  .button_event-5,
  .button_event-6 {
    font-size: 12px;
    width: 160px;
    padding: 5px 15px;
  }
  .button_event-4 {
    margin-left: 70px;
  }
  .text_container {
    width: 80%;
  }
  .post_container iframe {
    width: 80%;
  }
  .info-text {
    font-size: 16px;
  }
  .footer-info_text {
    font-size: 16px;
    justify-content: space-around;
    margin-left: 30px;
  }
  .footer_text a {
    margin-left: 5px;
    margin-right: 50px;
  }
}
@media (max-width: 768px) {
  .navigation {
    height: 140px;
  }
  .navigation img {
    order: 1;
    width: auto;
    height: 70px;
  }
  .navigation_button {
    order: 2;
    width: 180px;
    height: 50px;
  }
  .menu {
    order: 3;
    width: 100%;
    position: static;
    margin-bottom: 20px;
  }
  .menu_dropdown {
    width: 100%;
  }
  .submenu {
    width: 100%;
  }
  .banner_text h1 {
    font-size: 32px;
    margin-bottom: 0;
  }
  .banner_text {
    font-size: 16px;
    padding: 5px;
    margin-top: 0;
  }
  .banner {
    height: 350px;
  }
  .topic h1 {
    font-size: 18px;
  }

  .slider .slick-arrow {
    height: 20px;
    width: 20px;
  }
  .slider .slick-next::before {
    font-size: 10px;
    margin-left: 1px;
  }
  .slider .slick-prev::before {
    font-size: 10px;
    margin-left: 1px;
  }
  .slider .slick-dots li button::before {
    font-size: 10px;
  }
  .slider-vit .slide_text,
  .slider-memories .slide_text {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 18px;
    padding: 60px;
    text-align: center;
  }

  .slider-vit .slide:hover .slide_text,
  .slider-memories .slide:hover .slide_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-vit .slide {
    height: 240px;
  }

  .slider-memories .slide {
    height: 160px;
    margin: 5px;
  }
  .banner_title {
    font-size: 12px;
  }
  .centered h1 {
    font-size: 22px;
  }
  .centered h2 {
    font-size: 16px;
  }
  .container_events {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
  }
  .banner_title h1 {
    font-size: 28px;
  }
  .films_video {
    width: 100%; /* Устанавливаем ширину видео на 100% */
    max-width: 100%; /* Максимальная ширина 100% */
    height: auto; /* Высота автоматически подстраивается под ширину */
  }

  .films_text {
    padding: 20px 20px 0; /* Уменьшаем отступы для текстового блока */
  }

  .main {
    padding: 20px 20px 10px; /* Уменьшаем отступы для основного блока */
  }
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .event-6 {
    margin: 0;
  }
  .event img {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .button_event-1,
  .button_event-2,
  .button_event-3,
  .button_event-4,
  .button_event-5,
  .button_event-6 {
    margin: auto;
    color: #b10707;
    width: 200px;
  }

  .films_video iframe {
    width: 100%;
    height: 300px;
  }
  .section_images img {
    height: 500px;
  }
  .section_item img {
    width: 100%;
  }
  .section_images-1,
  .section_images-2,
  .section_images-3,
  .section_images-4 {
    width: 80%;
  }
  .section_item h1 {
    font-size: 28px;
  }
  .info {
    height: 460px;
  }
  .info-text {
    padding-top: 30px;
    margin-top: 50px;
    font-size: 14px;
    width: 80%;
  }
  .footer-info img {
    height: 60px;
  }
  .footer-info_text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .menu_dropdown,
  .submenu {
    display: none;
  }
  .banner_text {
    width: 90%;
    margin: auto;
  }
  .banner_text h1 {
    margin-top: 20px;
    font-size: 32px;
  }
  .banner img {
    display: none;
  }
  .banner {
    height: 220px;
  }
  .banner_title {
    font-size: 10px;
    padding: 5px;
  }
  .banner_title h1 {
    font-size: 22px;
  }
  .topic-1 img,
  .topic-3 img,
  .topic-5 img {
    height: 300px;
    width: 90%;
  }
  .topic h1,
  h2 {
    font-size: 16px;
  }
  .slider-vit {
    width: 80%;
  }
  .slider-memories {
    width: 80%;
  }
  .slide {
    height: 140px;
  }

  .post_text {
    padding: 0 20px;
  }
  .post_container {
    margin: 0;
  }
  .post_container iframe {
    height: 250px;
  }
  .section_images-1,
  .section_images-2,
  .section_images-3,
  .section_images-4 {
    width: 90%;
  }
  .section {
    padding: 0 20px 0;
  }
  .section_images {
    width: 100%;
  }
  .section_item h1 {
    font-size: 18px;
  }
  .section_item h1 {
    font-size: 24px;
  }
  .footer-info img {
    display: none;
  }
  .footer-info {
    justify-content: flex-start;
    flex-direction: column;
    height: 250px;
  }
  .info {
    height: 480px;
    margin-top: 20px;
  }
  .info-text {
    margin: 0 auto;
    padding-top: 20px;
  }
  .footer-info_text-1 {
    margin-top: 5px;
    font-size: 12px;
  }
  .footer-info_text-2 {
    margin-left: -100px;
    font-size: 12px;
  }
  .footer_text i.fa-2xl::before {
    font-size: 20px;
  }
  .copyright {
    font-size: 14px;
    margin-left: 50px;
  }
}
@media (max-width: 480px) {
  .navigation {
    height: 100px;
  }
  .menu_item {
    position: static;
  }
  .menu {
    position: relative;
  }
  .menu button {
    display: block;
  }
  .menu_list {
    display: none;
  }
  .logo_link {
    margin-top: 0;
  }
  .menu_list_480.opened {
    display: flex;
  }
  .menu_toggler::before {
    content: "";
    background-image: url("../images/content/burger.jpg");
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu_toggler.opened::before {
    content: "";
    background-image: url("../images/content/cross.jpg");
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slide {
    height: 130px;
    margin: 10px;
  }

  .slider .slick-next::before {
    font-size: 10px;
    line-height: 0.5;
  }
  .slider .slick-prev::before {
    font-size: 10px;
    line-height: 0.5;
  }
  .slider .slick-dots li button::before {
    font-size: 5px;
  }
  .centered h1 {
    font-size: 20px;
    margin: 10px;
  }
  .centered h2 {
    font-size: 14px;
    margin: 10px;
  }
  .banner {
    height: 260px;
    margin-bottom: 10px;
  }
  .banner_title {
    font-size: 8px;
    padding: 5px;
    height: 70px;
  }
  .banner_title h1 {
    font-size: 18px;
  }
  .banner_text h1 {
    font-size: 30px;
  }
  .event-1 {
    margin-top: 5px;
  }
  .text_container {
    width: 90%;
  }
  .topic {
    margin-top: 10px;
  }

  .navigation_button {
    display: none;
  }
  .navigation img {
    height: 60%;
    margin-top: 20px;
  }
  .container {
    grid-template-columns: 10px 1fr 10px;
    grid-row-gap: 30px;
  }
  .banner_text {
    margin-top: 0;
  }
  .event {
    width: 100%;
  }
  .topic a {
    width: 100px;
    height: auto;
    margin-top: 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  .info {
    height: 340px;
    margin-top: 15px;
  }
  .info-text {
    margin: 0 auto 20px;
    padding-top: 5px;
    font-size: 12px;
    width: 94%;
  }
  .footer_text a {
    margin-right: 30px;
  }
  .footer_text i.fa-2xl::before {
    font-size: 16px;
  }
  .slick-dots {
    bottom: -30px;
  }
}
@media (max-width: 380px) {
  .slide {
    height: 120px;
    margin: 0 60px;
  }
  .banner {
    height: 270px;
    margin-bottom: 0px;
  }
  .banner_text h1 {
    font-size: 28px;
  }
  .topic-1 img,
  .topic-3 img,
  .topic-5 img {
    display: none;
  }
  .slick-arrow {
    margin: 10px;
  }
  .centered h1 {
    font-size: 16px;
  }
  .centered h2 {
    font-size: 12px;
  }
  .info {
    margin-top: 5px;
    height: 410px;
  }
  .info-text {
    margin-top: 0;
    padding-top: 5px;
    height: 260px;
  }
  .info-text h2 {
    margin-top: 4px;
  }
  .footer-info_text-1 {
    margin-left: 10px;
  }
  .footer-info_text-2 {
    margin-left: -150px;
  }
  .slick-dots {
    bottom: -40px;
  }
}
